streamlit
langchain
langchain-classic
langchain-openai
langchain-core
langchain-community
langchain-experimental
langchain-tavily
pypdf
docx2txt
python-docx
faiss-cpu
rank-bm25
torch
transformers
sentence-transformers
packaging
pandas
openpyxl
matplotlib
python-dotenv

